@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-value: #000000;
  --color-border-value: #000000;
  --background-color: #ffffff;
}
.dark {
  --color-value: #ffffff;
  --background-color: #111215;

  --color-border-value: #ffffff;
}
.bg-header {
  background-color: var(--background-color);
  color: var(--color-border-value);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

 
 
body {
  background: var(--background-color);
  font-family: Poppins, sans-serif;
}
